.home h1 {
  text-align: center;
}

.tr {
  padding: 10px;
}
.table{
    height: 300px;
    width: 600px;
    margin: auto;
}

.loader-center {
margin-top: 50%;
margin-left: 80%;
margin-right: 50%;
margin-bottom: 50%;
 
 
}
