.content-div {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  column-gap: 30px;
  margin: 0 300px 0 300px;
}
.music h1 {
  text-align: center;
  margin-top: 30px;
}

.see-Cart {
  margin: 0 700px 0 700px;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  color: skyblue;
  background-color: gray;
}
